# Byte-compiled / cache
__pycache__/
*.py[cod]

# SQLite databases
*.db

# Flask instance folder
instance/

# Uploaded CAD + JSON data
/static/uploads/cad/*
!/static/uploads/cad/.gitkeep

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# Logs and backups
*.log
*.bak

# System files
.DS_Store
Thumbs.db
