# Byte-compiled / cache
__pycache__/
*.py[cod]

# SQLite databases
*.db

# Flask instance folder
instance/

# Uploaded CAD + JSON data
/static/uploads/cad/*
!/static/uploads/cad/.gitkeep
three-cad-viewer/
modules/inventory/uploads/
# Environment variables
.env

# VS Code settings (optional)
.vscode/

# Logs and backups
*.log
*.bak

notepad++_workspace_1

# System files
.DS_Store
Thumbs.db
